lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes imagePlaceholderOpacityIn{ from { opacity: 0; } to { opacity: 1; }}
@keyframes imagePlaceholderOpacityIn{ from { opacity: 0; } to { opacity: 1; }}
[not-existing] {
  zoom: 1;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes imagePlaceholderOpacityOut{ from { opacity: 1; } to { opacity: 0; }}
@keyframes imagePlaceholderOpacityOut{ from { opacity: 1; } to { opacity: 0; }}
[not-existing] {
  zoom: 1;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes imagePlaceholderBackgroundOut{ to { background: transparent;}}
@keyframes imagePlaceholderBackgroundOut{ to { background: transparent;}}
[not-existing] {
  zoom: 1;
}
.image-placeholder {
  position: relative;
  display: block;
  background-color: #eee;
}
.image-placeholder > img {
  display: block;
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  image-rendering: auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-filter: blur(0);
          filter: blur(0);
}
.image-placeholder .lazyload,
.image-placeholder .lazyloading {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.image-placeholder .lazyloaded {
  -webkit-animation: imagePlaceholderOpacityIn 400ms cubic-bezier(0.445, 0.050, 0.550, 0.950) forwards;
  animation: imagePlaceholderOpacityIn 400ms cubic-bezier(0.445, 0.050, 0.550, 0.950) forwards;
}
.image-placeholder.img-loaded {
  -webkit-animation: imagePlaceholderBackgroundOut 400ms cubic-bezier(0.445, 0.050, 0.550, 0.950) forwards;
  animation: imagePlaceholderBackgroundOut 400ms cubic-bezier(0.445, 0.050, 0.550, 0.950) forwards;
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
.image-placeholder.img-loaded .loader,
.image-placeholder.img-loaded .custom-preloader-image {
  -webkit-animation: imagePlaceholderOpacityOut 400ms cubic-bezier(0.445, 0.050, 0.550, 0.950) forwards;
  animation: imagePlaceholderOpacityOut 400ms cubic-bezier(0.445, 0.050, 0.550, 0.950) forwards;
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
.realsize-img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image-placeholder > .loader {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.image-placeholder > .loader .loader-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform-origin: center;
  transform-origin: center;
}
.image-placeholder > .loader .loader-row .loader-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.image-placeholder > .loader.align-top-left .loader-row,
.image-placeholder > .loader.align-top-center .loader-row,
.image-placeholder > .loader.align-top-right .loader-row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.image-placeholder > .loader.align-bottom-left .loader-row,
.image-placeholder > .loader.align-bottom-center .loader-row,
.image-placeholder > .loader.align-bottom-right .loader-row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.image-placeholder > .loader.align-top-right .loader-row,
.image-placeholder > .loader.align-center-right .loader-row,
.image-placeholder > .loader.align-bottom-right .loader-row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.image-placeholder > .loader.align-top-left .loader-row,
.image-placeholder > .loader.align-center-left .loader-row,
.image-placeholder > .loader.align-bottom-left .loader-row {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.image-placeholder > .loader .ball-clip-rotate-pulse > div:first-child {
  top: 5px;
  left: -9px;
}
.image-placeholder > .custom-preloader-image {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  padding: 20px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.image-placeholder > .custom-preloader-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.image-placeholder > .custom-preloader-image.align-top-left {
  top: 0;
  left: 0;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}
.image-placeholder > .custom-preloader-image.align-top-center {
  top: 0;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.image-placeholder > .custom-preloader-image.align-top-right {
  top: 0;
  right: 0;
  left: auto;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}
.image-placeholder > .custom-preloader-image.align-center-left {
  left: 0;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
.image-placeholder > .custom-preloader-image.align-center-right {
  right: 0;
  left: auto;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
.image-placeholder > .custom-preloader-image.align-bottom-left {
  top: auto;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}
.image-placeholder > .custom-preloader-image.align-bottom-center {
  top: auto;
  bottom: 0;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.image-placeholder > .custom-preloader-image.align-bottom-right {
  top: auto;
  bottom: 0;
  right: 0;
  left: auto;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}
.loader .square-spin > div {
  border-color: transparent;
}
#of_container {
  width: auto !important;
  margin: 20px 20px 20px 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
  /*
.wp-color-result {
		height: auto !important;
		border-radius: @default-border-radius;
		.box-shadow(none);
		border: 1px solid #ccc !important;
		color: #666 !important;
		margin-left: 0px;

		&:after {
			height: auto;
			font-size: @default-font-size;
			color: #666;
			background: #fff;
			border-radius: @default-border-radius;
			border-top-right-radius: 2px !important;
			border-bottom-right-radius: 2px !important;
			padding: 5px 15px;
			.box-shadow(none);
		}

		&:focus:after, &:hover:after {
			color: #666 !important;
			border-color: #ccc !important;
		}

		&.wp-picker-open {
			top: 0px !important;
		}
	}
*/
}
@media screen and (max-width: 800px) {
  #of_container {
    margin: 10px 10px 10px 0px;
  }
}
#of_container #of_form #header {
  overflow: hidden;
  background: #3f4548;
  border: none;
  border-bottom: none !important;
  border-radius: 2px;
  border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-bottomright: 0px;
  -moz-background-clip: padding;
  border-bottom-right-radius: 0px;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#of_container #of_form #header .logo {
  position: relative;
  margin: 22px 20px;
}
#of_container #of_form #header .logo #setting-error-tgmpa {
  display: none !important;
}
#of_container #of_form #header .logo h2 {
  font-size: 23px;
  margin: 0;
}
#of_container #of_form #header .logo h2 span {
  margin-top: -1px;
}
#of_container #of_form #header .logo h2,
#of_container #of_form #header .logo span {
  line-height: 1;
  color: #fff;
  font-weight: normal;
}
#of_container #of_form #header .logo .holidays-pine {
  position: absolute;
  bottom: -23px;
  left: 200%;
  background: url("../images/happyholidays.png");
  background-size: 35px 43px;
  width: 35px;
  height: 43px;
}
@media screen and (max-width: 768px) {
  #of_container #of_form #header .logo .holidays-pine {
    display: none;
  }
}
#of_container #of_form #header .laborator-notice {
  display: none !important;
}
#of_container #of_form #header .icon-option {
  background: url(../images/laborator-logo-light@2x.png) no-repeat;
  background-size: 80%;
  margin: 25px 15px 14px 15px;
}
#of_container #of_form #info_bar {
  background: #3f4548;
  height: 34px;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  right: 80px;
  top: 15px;
  display: block;
  position: absolute;
}
@media screen and (max-width: 768px) {
  #of_container #of_form #info_bar {
    right: 50px;
  }
}
#of_container #of_form #info_bar .expand,
#of_container #of_form #info_bar .close {
  border: none !important;
  margin: 1px 10px 0 0;
  background: #00b19d !important;
  padding: 3px 5px 4px 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#of_container #of_form #info_bar .expand:before,
#of_container #of_form #info_bar .close:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  padding: 3px;
  line-height: 16px;
  color: #fff;
}
#of_container #of_form #info_bar .expand:hover,
#of_container #of_form #info_bar .close:hover {
  background: #009886 !important;
}
@media screen and (max-width: 768px) {
  #of_container #of_form #info_bar .expand,
  #of_container #of_form #info_bar .close {
    display: none;
  }
}
#of_container #of_form #info_bar #expand_options {
  -webkit-transition: all 350ms;
  transition: all 350ms;
}
#of_container #of_form #info_bar .expand:before {
  display: block;
  content: "\f065" !important;
}
#of_container #of_form #info_bar .close:before {
  display: block;
  content: "\f066" !important;
}
#of_container #of_form #of_save {
  -webkit-transition: all 350ms;
  transition: all 350ms;
}
#of_container #of_form #of_save .loading-spinner {
  margin-right: 5px;
  margin-left: -4px;
  display: inline-block;
  width: 0px;
  overflow: hidden;
  position: relative;
  line-height: 1;
  top: 2px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#of_container #of_form #of_save em {
  font-style: normal;
}
#of_container #of_form #of_save em i.fa-check {
  position: relative;
  left: -5px;
}
#of_container #of_form #of_save.is-loading {
  background-color: #00bba6;
}
#of_container #of_form #of_save.is-loading .loading-spinner {
  width: 17px;
}
@media screen and (max-width: 480px) {
  #of_container #of_form #of_save {
    display: none;
  }
}
#of_container #of_form #main {
  background: #3f4548 !important;
  border: none !important;
  border-right: 2px solid #373B3D !important;
  border-bottom: 1px solid #373B3D !important;
  clear: both;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-bottomright: 3px;
  -moz-background-clip: padding;
  border-bottom-right-radius: 3px;
  background-clip: padding-box;
}
@media screen and (max-width: 800px) {
  #of_container #of_form #main {
    border-left: 2px solid #373B3D !important;
  }
}
@media screen and (max-width: 400px) {
  #of_container #of_form #main {
    border-right: 1px solid #373B3D !important;
    border-bottom: 1px solid #373B3D !important;
    border-left: 1px solid #373B3D !important;
  }
}
#of_container #of_form #main #of-nav {
  background: #373B3D;
  width: 20% !important;
}
@media screen and (max-width: 960px) {
  #of_container #of_form #main #of-nav {
    width: 55px !important;
  }
}
@media screen and (max-width: 800px) {
  #of_container #of_form #main #of-nav {
    width: 100% !important;
    border-bottom: 2px solid #373B3D;
  }
}
#of_container #of_form #main #of-nav ul li {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #3f4548;
  margin-right: 0px !important;
  position: relative;
}
@media screen and (max-width: 800px) {
  #of_container #of_form #main #of-nav ul li {
    width: 20%;
    text-align: center;
    float: left;
  }
}
#of_container #of_form #main #of-nav ul li a {
  color: #ccc;
  padding: 10px 17px !important;
  font-size: 13px;
  font-weight: normal;
  background-image: none !important;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 350ms;
  transition: all 350ms;
}
#of_container #of_form #main #of-nav ul li a:hover {
  color: #00b19d !important;
}
#of_container #of_form #main #of-nav ul li a .current a {
  color: #fff !important;
  zoom: 1 !important;
  filter: alpha(opacity=100) !important;
  -webkit-opacity: 1 !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important;
}
@media screen and (max-width: 960px) {
  #of_container #of_form #main #of-nav ul li span {
    display: none;
  }
}
#of_container #of_form #main #of-nav ul li i {
  position: relative;
  top: 2px;
}
#of_container #of_form #main #of-nav ul li i.fa {
  font-size: 16px;
  padding-right: 8px;
  width: 20px;
  text-align: center;
}
@media screen and (max-width: 960px) {
  #of_container #of_form #main #of-nav ul li i.fa {
    font-size: 18px;
  }
}
#of_container #of_form #main #of-nav ul li.current a {
  background: #3d4245 !important;
  color: #fff;
}
#of_container #of_form #main #of-nav ul li.current a:hover {
  color: #fff !important;
}
#of_container #of_form #main #of-nav ul li.current a:after {
  right: 0;
  border: 8px solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #f1f1f1;
  top: 50%;
  margin-top: -8px;
}
@media screen and (max-width: 960px) {
  #of_container #of_form #main #of-nav ul li.current a:after {
    content: none;
  }
}
#of_container #of_form #main #content {
  width: 76% !important;
  min-height: 604px;
  padding-left: 2% !important;
  padding-right: 2% !important;
  padding-bottom: 20px;
  margin-left: 0px;
  border: none !important;
  background: #f1f1f1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
  margin-bottom: 2px solid #373B3D;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-bottomright: 3px;
  -moz-background-clip: padding;
  border-bottom-right-radius: 3px;
  background-clip: padding-box;
  margin-bottom: 1px;
}
.is-expanded#of_container #of_form #main #content {
  width: auto !important;
  margin-left: 2px !important;
  padding-left: 18px !important;
  padding-right: 18px !important;
}
.is-expanded#of_container #of_form #main #content .tab-pane {
  display: block !important;
}
.is-expanded#of_container #of_form #main #content .smof-tabs {
  display: none;
}
@media screen and (max-width: 960px) {
  #of_container #of_form #main #content {
    width: 88.333% !important;
  }
}
@media screen and (max-width: 800px) {
  #of_container #of_form #main #content {
    width: 96% !important;
    min-height: auto !important;
  }
}
#of_container #of_form #main #content .option .controls {
  max-width: 42%;
}
@media screen and (max-width: 800px) {
  #of_container #of_form #main #content .option .controls {
    width: 100%;
    max-width: 100%;
  }
}
#of_container #of_form #main #content .option .controls .button-inline {
  display: inline-block !important;
}
#of_container #of_form #main #content .option .controls .button-small {
  font-size: 12px !important;
}
#of_container #of_form #main #content .option .controls .button-primary {
  background-color: #00a0d2;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#of_container #of_form #main #content .option .controls .button-primary em {
  font-style: normal;
}
#of_container #of_form #main #content .option .controls .button-primary em i.fa-check {
  position: relative;
  left: -5px;
}
#of_container #of_form #main #content .option .controls .button-primary .loading-spinner {
  margin-right: 5px;
  margin-left: -4px;
  display: inline-block;
  width: 0px;
  overflow: hidden;
  position: relative;
  line-height: 1;
  top: 2px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#of_container #of_form #main #content .option .controls .button-primary.is-loading {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
#of_container #of_form #main #content .option .controls .button-primary.is-loading .loading-spinner {
  width: 17px;
}
#of_container #of_form #main #content .option .controls .wp-picker-input-wrap {
  display: block;
}
#of_container #of_form #main #content .option .controls .wp-picker-input-wrap .wp-color-picker {
  width: 100% !important;
}
#of_container #of_form #main #content .option .controls input,
#of_container #of_form #main #content .option .controls textarea,
#of_container #of_form #main #content .option .controls select {
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #fff !important;
  border-color: #ccc !important;
  padding: 7px 10px;
  font-size: 14px;
  color: #666 !important;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-transition: all 300ms ease-in-out 0;
  transition: all 300ms ease-in-out 0;
  margin-left: 0px;
  margin-top: -3px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
}
#of_container #of_form #main #content .option .controls input:hover,
#of_container #of_form #main #content .option .controls textarea:hover,
#of_container #of_form #main #content .option .controls select:hover {
  background-color: #fff;
}
#of_container #of_form #main #content .option .controls input:focus,
#of_container #of_form #main #content .option .controls textarea:focus,
#of_container #of_form #main #content .option .controls select:focus {
  border: 1px solid #00b19d !important;
  -webkit-transition: all 300ms ease-in-out 0;
  transition: all 300ms ease-in-out 0;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
#of_container #of_form #main #content .option .controls textarea {
  -webkit-transition: none;
  transition: none;
}
#of_container #of_form #main #content .option .controls select {
  width: auto;
}
#of_container #of_form #main #content .option .controls .of-radio-img-img,
#of_container #of_form #main #content .option .controls .of-radio-img-selected {
  -webkit-transition: all 300ms ease-in-out 0;
  transition: all 300ms ease-in-out 0;
}
#of_container #of_form #main #content .option .controls .hidden {
  display: none !important;
}
#of_container #of_form #main #content .option .controls .of-input-postfix {
  float: right;
  width: 12%;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-left: 0;
  line-height: 33px;
  margin-top: -3px;
  -webkit-border-radius: 0 2px 2px 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 2px 2px 0;
  -moz-background-clip: padding;
  border-radius: 0 2px 2px 0;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #666;
}
#of_container #of_form #main #content .option .controls .of-input-postfix + .of-input {
  float: left;
  width: 88%;
  border-right: 1px solid transparent;
  margin-right: 0;
  height: 35px;
  -webkit-border-radius: 2px 0 0 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px 0 0 2px;
  -moz-background-clip: padding;
  border-radius: 2px 0 0 2px;
  background-clip: padding-box;
}
#of_container #of_form #main #content .option .controls .of-input::-webkit-input-placeholder {
  color: #999;
}
#of_container #of_form #main #content .option .controls .of-input:-moz-placeholder {
  color: #999;
}
#of_container #of_form #main #content .option .controls .of-input::-moz-placeholder {
  color: #999;
}
#of_container #of_form #main #content .option .controls .of-input:-ms-input-placeholder {
  color: #999;
}
#of_container #of_form #main #content .option .explain {
  width: 54.5%;
  font-size: 13px;
  color: #666 !important;
}
@media screen and (max-width: 800px) {
  #of_container #of_form #main #content .option .explain {
    width: 100%;
  }
}
#of_container #of_form #main #content .section-info .controls .of-info {
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  border: 1px solid #ccc;
}
#of_container #of_form #main #content .section-info .controls .of-info .shop-imgd-info {
  display: block;
}
#of_container #of_form #main #content .section-info .controls .of-info .shop-imgd-info + .shop-imgd-info {
  margin-top: 5px;
}
#of_container #of_form #main #content .section-info .controls .of-info .shop-imgd-info em {
  font-style: normal;
  display: inline-block;
  min-width: 160px;
}
#of_container #of_form #main #content .section-info .controls .of-info .shop-imgd-info strong abbr {
  border-bottom: 1px dotted #999;
  font-weight: normal;
  color: #999;
}
#of_container #of_form #main #content .section-multicheck .controls label {
  font-size: 13px;
  color: #666;
}
#of_container #of_form #main #content .section h3.heading {
  margin-top: 20px;
  border-bottom: 1px solid #e1e1e1;
  color: #333;
  font-weight: normal;
}
#of_container #of_form #main #content .section .smof-tabs {
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  padding: 0;
  margin-top: 1px;
  padding-left: 35px;
  margin-left: -35px;
  margin-right: -25px;
  margin-top: -10px;
}
#of_container #of_form #main #content .section .smof-tabs:before,
#of_container #of_form #main #content .section .smof-tabs:after {
  content: " ";
  display: table;
}
#of_container #of_form #main #content .section .smof-tabs:after {
  clear: both;
}
@media screen and (max-width: 800px) {
  #of_container #of_form #main #content .section .smof-tabs {
    padding-left: inherit !important;
    margin-left: inherit !important;
    margin-right: inherit !important;
    margin-top: inherit !important;
  }
}
#of_container #of_form #main #content .section .smof-tabs li {
  position: relative;
  float: left;
  display: block;
  margin: 0;
  padding: 0;
}
#of_container #of_form #main #content .section .smof-tabs li:first-child a {
  margin-left: 0px !important;
}
#of_container #of_form #main #content .section .smof-tabs li a {
  display: block;
  background: none;
  border: 0;
  line-height: 38px;
  font-weight: normal;
  font-size: 13px;
  padding: 0px;
  margin: 0px 10px 0px 10px;
  position: relative;
  outline: none;
  margin-bottom: 0;
  color: #666;
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
#of_container #of_form #main #content .section .smof-tabs li a:hover {
  color: #333333;
}
#of_container #of_form #main #content .section .smof-tabs li a:after {
  content: '';
  display: block;
  height: 1px;
  background: #00b19d;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
#of_container #of_form #main #content .section .smof-tabs li + li {
  margin-left: 10px;
}
#of_container #of_form #main #content .section .smof-tabs li + li:before {
  position: absolute;
  height: 15px;
  width: 1px;
  background: #e1e1e1;
  top: 50%;
  left: 0%;
  margin-left: -6px;
  content: '';
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#of_container #of_form #main #content .section .smof-tabs li.active a {
  color: #111;
}
#of_container #of_form #main #content .section .smof-tabs li.active a:after {
  opacity: 1;
}
#of_container #of_form #main #content .section .tab-pane {
  display: none;
}
#of_container #of_form #main #content .section .tab-pane.active {
  display: block;
}
#of_container #of_form #main #content .section.has-wrapper {
  margin-bottom: 0px;
}
#of_container #of_form #main #content .section.has-wrapper .option-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-top: 10px !important;
  margin-bottom: 0px !important;
}
#of_container #of_form #main #content .section.has-wrapper .option-wrapper .heading span {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  display: inline-block;
  margin-right: 25px;
}
#of_container #of_form #main #content .section.has-wrapper .option-wrapper .heading span.padding-left {
  padding-left: 10px;
}
#of_container #of_form #main #content .section.section-sorter {
  margin-bottom: 20px;
}
#of_container #of_form #main #content .section.section-checkbox.has-wrapper h3.heading {
  margin-bottom: 15px;
}
#of_container #of_form #main #content .section[data-advanced-folding-match] {
  overflow: hidden;
  max-height: 700px;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: max-height 2.5s, opacity 1s;
  transition: max-height 2.5s, opacity 1s;
}
#of_container #of_form #main #content .section[data-advanced-folding-match]#section-image_loading_placeholder_preselected {
  max-height: 2000px;
}
#of_container #of_form #main #content .section[data-advanced-folding-match]#section-image_loading_placeholder_preselected.afold-collapsed {
  max-height: 0px;
}
#of_container #of_form #main #content .section.afold-collapsed {
  max-height: 0px;
  -webkit-transition: max-height 0.5s, opacity 1s;
  transition: max-height 0.5s, opacity 1s;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
#of_container #of_form #main #content .section#section-portfolio_type .option-wrapper .option .controls,
#of_container #of_form #main #content .section#section-blog_template .option-wrapper .option .controls,
#of_container #of_form #main #content .section#section-shop_catalog_layout .option-wrapper .option .controls,
#of_container #of_form #main #content .section#section-image_loading_placeholder_type .option-wrapper .option .controls,
#of_container #of_form #main #content .section#section-shop_single_product_images_layout .option-wrapper .option .controls,
#of_container #of_form #main #content .section#section-main_menu_type .option-wrapper .option .controls,
#of_container #of_form #main #content .section#section-footer_bottom_style .option-wrapper .option .controls,
#of_container #of_form #main #content .section#section-favicon_set .option-wrapper .option .controls {
  width: 100%;
  max-width: 100%;
}
#of_container #of_form #main #content .section#section-portfolio_type .option-wrapper .option .controls span img,
#of_container #of_form #main #content .section#section-blog_template .option-wrapper .option .controls span img,
#of_container #of_form #main #content .section#section-shop_catalog_layout .option-wrapper .option .controls span img,
#of_container #of_form #main #content .section#section-image_loading_placeholder_type .option-wrapper .option .controls span img,
#of_container #of_form #main #content .section#section-shop_single_product_images_layout .option-wrapper .option .controls span img,
#of_container #of_form #main #content .section#section-main_menu_type .option-wrapper .option .controls span img,
#of_container #of_form #main #content .section#section-footer_bottom_style .option-wrapper .option .controls span img,
#of_container #of_form #main #content .section#section-favicon_set .option-wrapper .option .controls span img {
  max-width: 250px;
}
#of_container #of_form #main #content .section#section-portfolio_type#section-main_menu_type .option-wrapper .option .controls span img,
#of_container #of_form #main #content .section#section-blog_template#section-main_menu_type .option-wrapper .option .controls span img,
#of_container #of_form #main #content .section#section-shop_catalog_layout#section-main_menu_type .option-wrapper .option .controls span img,
#of_container #of_form #main #content .section#section-image_loading_placeholder_type#section-main_menu_type .option-wrapper .option .controls span img,
#of_container #of_form #main #content .section#section-shop_single_product_images_layout#section-main_menu_type .option-wrapper .option .controls span img,
#of_container #of_form #main #content .section#section-main_menu_type#section-main_menu_type .option-wrapper .option .controls span img,
#of_container #of_form #main #content .section#section-footer_bottom_style#section-main_menu_type .option-wrapper .option .controls span img,
#of_container #of_form #main #content .section#section-favicon_set#section-main_menu_type .option-wrapper .option .controls span img {
  max-width: 210px;
}
#of_container #of_form #main #content .section#section-theme_skin_include_alternate {
  padding-top: 10px;
}
#of_container #of_form #main #content .section#section-portfolio_type .option-wrapper .option .controls span img {
  max-width: 250px;
}
#of_container #of_form #main #content .section#section-favicon_set .tc-link {
  text-decoration: none;
  font-size: 12px;
  padding: 5px 10px;
  display: inline-block;
  background: #00b9eb;
  border-radius: 3px;
  color: #fff;
  line-height: 20px;
  vertical-align: top;
  margin-bottom: 15px;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
#of_container #of_form #main #content .section#section-favicon_set .tc-link:hover {
  background: #00a5d2;
}
#of_container #of_form #main #content .section#section-favicon_set .tc-link .dashicons {
  margin-right: 3px;
}
#of_container #of_form #main #content .section#section-favicon_set .tc-site-icon {
  display: inline-block;
  border-radius: 3px;
  overflow: hidden;
  max-height: 30px;
  vertical-align: top;
  margin-right: 5px;
}
#of_container #of_form #main #content .section#section-favicon_set .tc-site-icon img {
  height: auto;
  width: 100%;
}
#of_container #of_form #main #content .section#section-favicon_set .of-info {
  padding: 5px 20px;
}
#of_container #of_form #main #content .section#section-favicon_set ~ #section-favicon_image,
#of_container #of_form #main #content .section#section-favicon_set ~ #section-apple_touch_icon {
  opacity: 0.2;
  pointer-events: none;
}
#of_container #of_form #main #content .section#section-font_primary_subset .controls:before,
#of_container #of_form #main #content .section#section-font_heading_subset .controls:before,
#of_container #of_form #main #content .section#section-font_primary_subset .controls:after,
#of_container #of_form #main #content .section#section-font_heading_subset .controls:after {
  content: " ";
  display: table;
}
#of_container #of_form #main #content .section#section-font_primary_subset .controls:after,
#of_container #of_form #main #content .section#section-font_heading_subset .controls:after {
  clear: both;
}
#of_container #of_form #main #content .section#section-font_primary_subset .controls .multicheck-entry,
#of_container #of_form #main #content .section#section-font_heading_subset .controls .multicheck-entry {
  float: left;
  width: 33.333333%;
  white-space: nowrap;
}
#of_container #of_form #main #content .section#section-shop_cart_icon .option-wrapper .option .controls span img {
  max-width: 40px;
  margin-bottom: 0;
}
#of_container #of_form #main #content .section#section-shop_catalog_layout .option-wrapper .option .controls span img,
#of_container #of_form #main #content .section#section-shop_single_product_images_layout .option-wrapper .option .controls span img {
  max-width: 205px;
}
#of_container #of_form #main #content .section#section-skin_palettes_list {
  margin-top: 20px;
}
#of_container #of_form #main #content .section#section-skin_palettes_list .of-info {
  background: none;
  padding: 0;
  border: 0;
}
#of_container #of_form #main #content .section#section-skin_palettes_list .of-info .skin-palette {
  border: 1px solid #ccc;
  display: block;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  float: left;
  clear: both;
  position: relative;
}
#of_container #of_form #main #content .section#section-skin_palettes_list .of-info .skin-palette span {
  display: block;
  width: 35px;
  height: 35px;
  background: #ccc;
  float: left;
  border-top: 0;
  border-bottom: 0;
}
#of_container #of_form #main #content .section#section-skin_palettes_list .of-info .skin-palette span + span {
  border-left: 1px solid #fafafa;
}
#of_container #of_form #main #content .section#section-skin_palettes_list .of-info .skin-palette:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
#of_container #of_form #main #content .section#section-skin_palettes_list .of-info .skin-palette:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
#of_container #of_form #main #content .section#section-skin_palettes_list .of-info .skin-palette em {
  position: absolute;
  text-decoration: none;
  left: 100%;
  margin-left: 20px;
  top: 8px;
  font-style: normal;
  white-space: nowrap;
  color: #888;
}
#of_container #of_form #main #content .section#section-skin_palettes_list .of-info .skin-palette + .skin-palette {
  margin-top: 10px;
}
#of_container #of_form #main #content .section#section-skin_palettes_list .of-info .skin-palette:hover em {
  color: #444;
}
#of_container #of_form #main #content .section.section-sliderui .option .controls input {
  width: 20%;
}
#of_container #of_form #main #content .section-checkbox .controls {
  margin-top: -3px;
}
#of_container #of_form #main #content #section-custom_css_feature {
  margin-top: 0px;
}
#of_container #of_form #main #content #of-option-themestyling .wp-color-result {
  padding-left: 122px;
}
#of_container #of_form #main .smof-img-radio {
  position: relative;
  display: inline-block;
  background: #f9f9f9;
  margin-right: 15px;
  border: 2px solid #e1e1e1;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
#of_container #of_form #main .smof-img-radio img {
  margin-right: 0;
  border: 0 !important;
}
#of_container #of_form #main .smof-img-radio img:hover {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#of_container #of_form #main .smof-img-radio strong {
  font-weight: normal;
  font-size: 12px;
  display: block;
  margin-bottom: 8px;
  color: #444;
  text-align: center;
  cursor: default;
}
#of_container #of_form #main .smof-img-radio.of-radio-img-selected {
  border-color: #00b19d;
  background-color: #00b19d;
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(0px) !important;
  transform: translateY(0px) !important;
}
#of_container #of_form #main .smof-img-radio.of-radio-img-selected strong {
  color: #fff;
}
#of_container #of_form #main .smof-img-radio:hover {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
#of_container #of_form #main .section-images .controls {
  margin-bottom: 10px;
}
#of_container #of_form #main .of-save-sticky {
  position: fixed;
  border-radius: 2px 0 0 2px;
  white-space: nowrap;
  color: #fff;
  line-height: 25px;
  text-align: center;
  padding: 5px 10px;
  width: 25px;
  height: 25px;
  right: 0%;
  top: 50%;
  margin-right: 22px;
  background: #3f4548;
  overflow: hidden;
  display: block;
  -webkit-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
  -webkit-transition-delay: 180ms;
          transition-delay: 180ms;
  text-decoration: none;
  zoom: 1;
  filter: alpha(opacity=80);
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
@media screen and (max-width: 800px) {
  #of_container #of_form #main .of-save-sticky {
    background: #00b19d;
    margin-right: 12px;
    z-index: 9999 !important;
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
#of_container #of_form #main .of-save-sticky i,
#of_container #of_form #main .of-save-sticky span {
  position: relative;
  display: inline-block;
  line-height: 25px;
  -webkit-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
}
#of_container #of_form #main .of-save-sticky i {
  font-size: 20px;
  left: 5px;
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}
#of_container #of_form #main .of-save-sticky i + i {
  margin-left: -22px;
  font-size: 17px;
  zoom: 1 !important;
  filter: alpha(opacity=0) !important;
  -webkit-opacity: 0 !important;
  -moz-opacity: 0 !important;
  opacity: 0 !important;
  z-index: 100;
}
#of_container #of_form #main .of-save-sticky span {
  margin-left: 5px;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  top: -2px;
  text-align: left;
}
#of_container #of_form #main .of-save-sticky span.save-text {
  font-size: 13px;
  margin-left: 10px;
}
#of_container #of_form #main .of-save-sticky span:before {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  display: block;
  color: #fff;
  content: 'Saving Options...';
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
#of_container #of_form #main .of-save-sticky:hover {
  width: 135px;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}
#of_container #of_form #main .of-save-sticky:hover i {
  left: 0;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
#of_container #of_form #main .of-save-sticky:hover span {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition-delay: 180ms;
          transition-delay: 180ms;
}
#of_container #of_form #main .of-save-sticky.is-loading {
  -webkit-transition: none !important;
  transition: none !important;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#of_container #of_form #main .of-save-sticky.is-loading i {
  zoom: 1 !important;
  filter: alpha(opacity=0) !important;
  -webkit-opacity: 0 !important;
  -moz-opacity: 0 !important;
  opacity: 0 !important;
}
#of_container #of_form #main .of-save-sticky.is-loading i + i {
  zoom: 1 !important;
  filter: alpha(opacity=100) !important;
  -webkit-opacity: 1 !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important;
}
#of_container #of_form #main .of-save-sticky.is-loading span {
  color: transparent;
  -webkit-transition: none;
  transition: none;
}
#of_container #of_form #main .of-save-sticky.is-loading span:before {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
  -webkit-transition: none;
  transition: none;
}
#of_container #of_form .save_bar {
  height: 40px;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  background: #f1f1f1;
  border: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#of_container .of-option-image {
  pointer-events: none;
  cursor: default;
}
#of_container .button-primary {
  background: #00b19d;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#of_container .button-primary em,
#of_container .button-primary i {
  text-shadow: none;
}
#of_container .button-primary:hover {
  background: #009886;
}
#of_container .reset-button,
#of_container .remove-image {
  background: #ea6153 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff !important;
  -webkit-transition: all 200ms ease-in-out 0;
  transition: all 200ms ease-in-out 0;
}
#of_container .reset-button:hover,
#of_container .remove-image:hover {
  color: #fff;
}
#of_container .sorter ul {
  background: #fff;
  border: 1px solid #e1e1e1;
  width: 143px;
}
@media screen and (max-width: 400px) {
  #of_container .sorter ul {
    width: 39% !important;
  }
}
#of_container .sorter ul li {
  -webkit-border-radius: 16px !important;
  -webkit-background-clip: padding-box !important;
  -moz-border-radius: 16px !important;
  -moz-background-clip: padding !important;
  border-radius: 16px !important;
  background-clip: padding-box !important;
  border: none;
  height: auto !important;
  padding: 8px;
  line-height: normal;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  font-weight: normal;
  background-image: none !important;
}
#of_container .google_font_preview {
  padding: 0 !important;
  border: 0 !important;
}
#of_container .google_font_preview span {
  display: block;
}
#of_container .google_font_preview span + span {
  padding-top: 10px;
}
#of_container .google_font_preview .nums {
  font-size: 35px;
}
#of_container .google_font_preview .uppers {
  font-size: 30px;
}
#of_container h2 {
  position: relative;
}
#of_container h2 .theme_version {
  width: auto !important;
  height: auto !important;
  position: relative;
  top: 5px;
  line-height: normal;
  overflow: hidden;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  padding: 1px 6px 2px 6px;
  margin-left: 6px;
  background-color: #00b19d;
  color: #fff !important;
  text-align: center;
  -webkit-border-radius: 16px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 16px;
  -moz-background-clip: padding;
  border-radius: 16px;
  background-clip: padding-box;
  float: right;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#of_container h2 .theme_version:hover {
  background-color: #009886;
}
#of_container h3 {
  font-weight: normal;
}
#of_container a:hover,
#of_container a:active,
#of_container a:focus {
  outline: none;
}
#of_container :focus {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#of_container button,
#of_container .button,
#of_container input.button.button-small.wp-picker-default {
  -webkit-border-radius: 2px !important;
  -webkit-background-clip: padding-box !important;
  -moz-border-radius: 2px !important;
  -moz-background-clip: padding !important;
  border-radius: 2px !important;
  background-clip: padding-box !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent !important;
  height: auto !important;
  background: #00b19d;
  padding: 6px 15px 6px 15px;
  line-height: normal;
  color: #fff;
  -webkit-transition: all 300ms ease-in-out 0;
  transition: all 300ms ease-in-out 0;
  font-size: 14px;
  display: table;
  font-weight: normal !important;
  -webkit-transition: all 350ms;
  transition: all 350ms;
}
#of_container button:hover,
#of_container .button:hover,
#of_container input.button.button-small.wp-picker-default:hover {
  border-color: transparent !important;
  color: #fff !important;
  background: #009886;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
#of_container .select_wrapper {
  width: 94% !important;
  background-color: #fff !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
  padding: 2.5px 10px;
  font-size: 14px;
  color: #666 !important;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
}
#of_container .select_wrapper .select {
  width: 100% !important;
}
#of_container .select_wrapper span {
  padding: 0px 10px;
}
#of_container .button.media_upload_button,
#of_container .button.remove-image {
  padding-right: 12px;
}
#of_container .button.media_upload_button i,
#of_container .button.remove-image i {
  margin-left: 5px;
}
#of_container small {
  font-size: 11px;
}
#of_container small .note {
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
}
#of_container small.nowrap {
  white-space: nowrap;
}
#of_container explain {
  font-size: 11px;
}
#of_container .checkbox {
  width: 18px !important;
  height: 18px !important;
}
#of_container input[type=checkbox]:checked:before {
  margin: -4px 0 0 -4.5px;
  font-size: 23px;
}
#of_container #section-custom_css_feature .controls,
#of_container #section-wc_not_activated .controls,
#of_container #section-image_loading_placeholder_preselected .controls,
#of_container #section-custom_gf .controls,
#of_container #section-typolab_warning .controls,
#of_container #section-custom_gf_warning .controls,
#of_container #section-custom_coming_soon_warning .controls,
#of_container #section-shop_image_dimensions_info .controls,
#of_container #section-portfolio_lb .controls {
  max-width: 100% !important;
}
#of_container #section-image_loading_placeholder_preselected .of-info {
  background: transparent !important;
  border: 0 !important;
  padding: 0 !important;
}
#of_container #section-image_loading_placeholder_preselected .loaders {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px -10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#of_container #section-image_loading_placeholder_preselected .loaders .loader {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%;
  height: 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
}
#of_container #section-image_loading_placeholder_preselected .loaders .loader:before {
  position: absolute;
  display: block;
  content: '';
  background-color: #3f4548;
  z-index: 0;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}
#of_container #section-image_loading_placeholder_preselected .loaders .loader.current:before {
  -webkit-box-shadow: inset 0px 0px 0px 5px #00b19d;
  box-shadow: inset 0px 0px 0px 5px #00b19d;
}
#of_container #section-portfolio_lb .controls p {
  margin: 0;
}
#of_container .switch-options {
  float: left;
  display: block;
}
#of_container .switch-options .cb-enable,
#of_container .switch-options .cb-disable,
#of_container .switch-options .cb-enable span,
#of_container .switch-options .cb-disable span {
  background-image: none;
}
#of_container .switch-options .cb-enable {
  border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-bottomleft: 2px;
  -moz-background-clip: padding;
  border-bottom-left-radius: 2px;
  background-clip: padding-box;
  border-right: none !important;
}
#of_container .switch-options .cb-disable {
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-bottomright: 2px;
  -moz-background-clip: padding;
  border-bottom-right-radius: 2px;
  background-clip: padding-box;
  background-color: transparent !important;
  border-left: none !important;
}
#of_container .switch-options .cb-enable,
#of_container .switch-options .cb-disable {
  min-width: 50px !important;
  background: transparent !important;
  border: 1px solid #00b19d;
  color: #666;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
#of_container .switch-options .cb-enable.selected,
#of_container .switch-options .cb-disable.selected {
  background: #00b19d !important;
  border: 1px solid #00b19d !important;
}
#of_container .switch-options .cb-enable span,
#of_container .switch-options .cb-disable span {
  padding: 6px 17px 6px 17px;
  line-height: normal;
  text-align: center !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: normal;
  font-size: 14px;
}
#of_container .switch-options.reverse .cb-enable {
  float: right;
}
#of_container .switch-options.reverse .cb-disable {
  border-left: 1px solid #00b19d !important;
  border-radius: 0;
  border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-bottomleft: 2px;
  -moz-background-clip: padding;
  border-bottom-left-radius: 2px;
  background-clip: padding-box;
}
#of_container .switch-options.reverse .cb-enable {
  border-right: 1px solid #00b19d !important;
  border-radius: 0;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-bottomright: 2px;
  -moz-background-clip: padding;
  border-bottom-right-radius: 2px;
  background-clip: padding-box;
}
#of_container .reset-button {
  background: transparent !important;
  color: #666 !important;
  padding-left: 0px !important;
}
#of_container .reset-button:hover {
  color: red !important;
}
#of_container #of-popup-reset,
#of_container #of-popup-save,
#of_container #of-popup-fail {
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
}
@media screen and (max-width: 400px) {
  #of_container #of-popup-reset,
  #of_container #of-popup-save,
  #of_container #of-popup-fail {
    top: 75% !important;
  }
}
#of_container .of-save-save,
#of_container .of-save-fail,
#of_container .of-save-reset {
  background-image: none;
}
#of_container .of-save-popup {
  border-radius: 2px;
}
@media screen and (max-width: 400px) {
  #of_container .of-save-popup {
    width: 92% !important;
  }
}
#of_container .of-save-popup div {
  padding: 30px;
}
#of_container .of-save-popup i {
  padding-right: 5px;
}
#of_container .upload_button_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#of_container #of_backup_button {
  float: left;
}
#of_container .iris-picker .iris-square,
#of_container .iris-picker .iris-slider,
#of_container .iris-picker .iris-square-inner,
#of_container .iris-picker .iris-palette {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3) !important;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3) !important;
}
#of_container .iris-picker .iris-square-handle::after {
  border: 2px solid #fff;
}
#of_container .iris-picker .iris-strip .ui-slider-handle {
  border: 3px solid transparent !important;
  height: 0px !important;
}
#of_container .wp-picker-container {
  max-width: 230px;
}
#of_container .wp-picker-container .button {
  width: 100%;
  height: 35px !important;
  border: 1px solid #ccc;
}
#of_container .wp-picker-container .color-alpha {
  width: 50% !important;
  height: 100% !important;
  border: 1px solid #ccc;
}
#of_container .wp-picker-container .wp-color-result-text {
  background: #fff;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  line-height: 33px;
  width: 50%;
  padding: 0;
  text-align: center;
  border: 1px solid #ccc;
}
#of_container .wp-picker-container .wp-picker-input-wrap {
  margin-top: 8px;
}
#of_container .wp-picker-container label,
#of_container .wp-picker-container input.wp-color-picker {
  width: 100%;
}
#of_container .of-radio-img-img {
  max-width: 100%;
}
#of_container .of-radio-img-img.no-description {
  margin-bottom: 0 !important;
}
#of_container #social_order ul {
  width: 39.5% !important;
  margin: 0px;
}
#of_container #social_order ul:first-child {
  margin-right: 10px;
}
@media screen and (max-width: 800px) {
  #of_container #social_order ul {
    width: 44% !important;
  }
  #of_container #social_order ul:first-child {
    margin-right: 22px;
  }
}
#of_container .ui-slider .ui-slider-handle {
  background: #008d7d !important;
  border-radius: 50%;
}
#of_container .ui-slider-horizontal {
  background: #fff;
  border-color: #ccc;
  height: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 1px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1px;
  -moz-background-clip: padding;
  border-radius: 1px;
  background-clip: padding-box;
}
#of_container .ui-slider-horizontal .ui-slider-handle {
  top: -7px;
}
#of_container .ui-slider-range.ui-widget-header {
  background: #00b19d;
  border: 1px solid #00b19d !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#of_container .ajax-loading-img-bottom {
  content: "";
}
#of_container #info_bar .ajax-loading-img-bottom {
  float: left;
}
#of_container #info_bar .ajax-loading-img-bottom:before {
  margin-right: 5px;
}
#of_container .save_bar .ajax-loading-img-bottom:before {
  color: #00b19d;
  position: relative;
  top: 5px;
  margin-right: 5px;
}
#of_container .ajax-loading-img-bottom:before {
  content: "\f021" !important;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  width: 16px;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.appearance_page_theme-options #setting-error-tgmpa {
  display: none !important;
}
#TB_window img#TB_Image {
  border: none !important;
  margin: 40px 0 0 15px;
}
#user_custom_js_head,
#user_custom_js {
  font-size: 13px;
}
.transall {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
iframe#TB_iframeContent {
  margin-bottom: -5px !important;
  width: 100% !important;
}
#TB_closeWindowButton:focus .tb-close-icon {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/** RTL Maker Code **/
.rtl #of_container #of_form #main #of-nav ul li i.fa {
  padding-left: 8px;
  padding-right: 0;
}
.rtl #of_container #of_form #main #content .section .smof-tabs {
  padding-right: 35px;
  padding-left: 0;
}
.rtl #of_container #of_form #main #content .section .smof-tabs li {
  float: right;
}
.rtl #of_container #of_form #main #content .section .smof-tabs li:first-child a {
  margin-left: 10px !important;
  margin-right: 0!important;
}
.rtl #of_container #of_form #main #content .section .smof-tabs li + li:before {
  right: 0;
  left: auto;
  margin-right: -6px;
  margin-left: 0;
}
.rtl #of_container #of_form #main #content .section .smof-tabs li + li {
  margin-right: 10px;
  margin-left: 0;
}
.rtl #of_container #of_form #main .smof-img-radio {
  margin-left: 15px;
  margin-right: 0;
}
.rtl #of_container #content .section .explain {
  float: right;
  padding: 0 0 0 10px;
}
.rtl #of_container #content .section .controls {
  float: right;
  margin: 0 0 0 15px;
}
.rtl #of_container input[type=checkbox]:checked:before {
  margin: -4px -4.5px 0 0;
}
.rtl #of_container .select_wrapper span {
  right: 0;
  left: auto;
}
.rtl #of_container .select_wrapper {
  background-position: left center;
  float: right;
}
.rtl .cb-enable,
.cb-disable,
.cb-enable span,
.cb-disable span {
  float: right;
}
textarea[name="user_custom_js_head"],
textarea[name="user_custom_js"] {
  direction: ltr;
}
.rtl #section-custom_skin_bg_color:before {
  left: 0;
  right: auto;
}
.rtl #of_container {
  margin: 20px 2px 20px 20px;
}
.rtl #of_container #of-nav {
  float: right;
}
.rtl #of_container #content {
  float: right;
}
.rtl #of_container #of_form #main .of-save-sticky {
  position: fixed;
  border-radius: 2px 2px 0 0;
  right: auto;
  left: 0;
  margin-left: 22px;
  margin-right: 0;
}
.rtl #of_container #of_form #main #of-nav ul li.current a:after {
  left: 0;
  right: auto;
  border-left-color: #f1f1f1;
  border-right-color: transparent;
}
.rtl #of_container #expand_options {
  direction: ltr;
}
@media screen and (max-width: 960px) {
  .rtl #of_container #of_form #main #content {
    width: 86.5%!important;
  }
}
@media screen and (max-width: 800px) {
  .rtl #of_container #of_form #main #content {
    width: 96%!important;
    min-height: auto!important;
  }
}
