@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-3x3:before {
	content: "\e000";
}
.flaticon-arrow398:before {
	content: "\e001";
}
.flaticon-arrow408:before {
	content: "\e002";
}
.flaticon-arrow413:before {
	content: "\e003";
}
.flaticon-arrow414:before {
	content: "\e004";
}
.flaticon-arrow427:before {
	content: "\e005";
}
.flaticon-arrow429:before {
	content: "\e006";
}
.flaticon-arrowhead2:before {
	content: "\e007";
}
.flaticon-bottom4:before {
	content: "\e008";
}
.flaticon-chevron15:before {
	content: "\e009";
}
.flaticon-close38:before {
	content: "\e00a";
}
.flaticon-close39:before {
	content: "\e00b";
}
.flaticon-cross37:before {
	content: "\e00c";
}
.flaticon-expand22:before {
	content: "\e00d";
}
.flaticon-four60:before {
	content: "\e00e";
}
.flaticon-replay2:before {
	content: "\e00f";
}
.flaticon-squares8:before {
	content: "\e010";
}
.flaticon-thin16:before {
	content: "\e011";
}
.flaticon-verification24:before {
	content: "\e012";
}
